body {
  background-color: #131313;
}

* {
  color: #ebebeb;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #131313;
  text-align: center;
  border: 1px solid #ebebeb;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #ebebeb;
  color: #131313;
}
