body {
  background-color: #131313;
}

* {
  color: #ebebeb;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #131313;
  text-align: center;
  border: 1px solid #ebebeb;
  resize: both;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#mydivheader {
  padding: 4px;
  cursor: move;
  z-index: 10;
  background-color: #ebebeb;
  color: #131313;
  text-align: left;
}

textarea#inputtextarea {
  margin: 20px;
  height: 100%;
  width: 100% !important;
}
